---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/components/Header.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/login");
}
---

<DashboardLayout title="Dashboard" activeId="orders">
  <div class="content">
    <div class="head">
      <div class="welcome-message">
        <h1>{session?.user?.name}'s Orders'</h1>
      </div>
    </div>
    <div class="orders">
      <div class="orders-list">
        <div class="orders-list-header">
          <h2>Orders</h2>
          <p2>Check the history of all your orders & their status</p2>
        </div>
        <!-- {
              orders.map((order) => (
                <div class="orders-list-body-item">
                  <div class="orders-list-body-item-header">
                    <h3>Order #{order.orderId}</h3>
                    <p2>Order Date: {order.orderDate}</p2>
                  </div>
                  <div class="orders-list-body-item-body">
                    <p2>Order Total: ${order.total}</p2>
                    <p2>Order Status: {order.status}</p2>
                  </div>
                </div>
              ))
            } -->
      </div>
    </div>
  </div>
</DashboardLayout>
<style>
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  /* Header Styling */
  .head {
      margin-top: 10rem;
      width: 50%;
      background-color: hsla(0, 0%, 20%, 0.274);
      padding: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
    
    .welcome-message h1 {
      color: #27ae60;
      font-size: 28px;
    }
    
    .welcome-message p {
      color: #000000;
      font-size: 16px;
    }
</style>



