---
import { eq } from 'drizzle-orm';
import { ordersTable } from '@/db/schema';
import DashboardLayout from '@/layouts/DashboardLayout.astro';
import { getCurrentUser } from '@/lib/auth-server';
import db from '@/lib/db';

const user = await getCurrentUser(Astro.request);

if (!user) {
  return Astro.redirect('/login');
}

const userEmail = user.email;

const orders = await db
  .select()
  .from(ordersTable)
  .where(eq(ordersTable.userId, user.id));
---

<DashboardLayout
  title="Orders History"
  breadcrumb={{
    '/orders': 'Orders',
  }}
>
  <div class="content">
    <div class="head">
      <div class="welcome-message">
        <h1>{`${user.name}'s Orders`}</h1>
        <p>Check the history of all your orders associated with: {userEmail}</p>
      </div>
    </div>
    <div class="orders">
      <div class="orders-list">
        <div class="orders-list-header">
          <h1>Orders</h1>
          <p>Showing orders for {userEmail}</p>
        </div>
        {
          orders.map((order) => (
            <div class="orders-list-body-item">
              <div class="orders-list-body-item-header">
                <h3>Order #{order.id}</h3>
                <p>
                  Order Date: {new Date(order.createdAt).toLocaleDateString()}
                </p>
              </div>
              <div class="orders-list-body-item-body">
                <p>
                  Order Total: $
                  {order.cartJSON.reduce(
                    (acc, item) =>
                      acc + Number(item.products.price) * item.cart.quantity,
                    0
                  )}
                </p>
                <p>Order Status: {order.status}</p>
              </div>
            </div>
          ))
        }
        {orders.length === 0 && <p>No orders found for this email address.</p>}
      </div>
    </div>
  </div>
</DashboardLayout>
<style>
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  /* Header Styling */
  .head {
    margin-top: 5rem;
    width: 50%;
    background-color: var(--color-muted);
    padding: 30px;
    box-shadow: 0 4px 12px var(--color-shadow);
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .welcome-message h1 {
    color: var(--color-foreground);
    font-size: 28px;
  }

  .welcome-message p {
    color: var(--color-muted-foreground);
    font-size: 16px;
  }
  .orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .orders-list {
    margin-top: 3rem;
    width: 50%;
    background-color: var(--color-muted);
    padding: 30px;
    box-shadow: 0 4px 12px var(--color-shadow);
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .orders-list-body-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: var(--color-background);
    border: var(--color-border) solid 1px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .orders-list-body-item-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .orders-list-body-item-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .orders-list-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-foreground);
    margin-left: 2rem;
    margin-right: auto;
  }
  .orders-list-body-item-body p {
    color: var(--color-foreground);
  }
  .orders-list-body-item-body p:first-child {
    color: var(--color-foreground);
  }
  .orders-list-body-item-body p:last-child {
    font-weight: bold;
    color: var(--color-foreground);
  }
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  @media (max-width: 1200px) {
    .head {
      width: 80%;
    }
    .orders-list {
      width: 80%;
    }
    .order {
      width: 80%;
    }
    .orders-list-header {
      font-size: 1.5rem;
    }
    .orders-list-body-item-header {
      font-size: 1.25rem;
    }
  }
  @media (max-width: 768px) {
    .orders-list {
      width: 90%;
    }
    .head {
      width: 90%;
    }
    .order {
      width: 90%;
    }
    .orders-list-header {
      font-size: 1.1rem;
    }
    .orders-list-body-item-header {
      font-size: 1rem;
    }
  }
  @media (max-width: 508px) {
    .head {
      width: 90%;
    }
    .orders-list {
      width: 90%;
    }
    .order {
      width: 90%;
    }
    .orders-list-header {
      font-size: 0.8rem;
    }
    .orders-list-body-item-header {
      font-size: 0.9rem;
    }
  }
</style>
