---
import { Image } from 'astro:assets';
import '@/styles/product-card.css';
import type { productsTable } from '@/db/schema';
import ProductImage from './images/ProductImage.astro';

interface Props {
	product: typeof productsTable.$inferSelect;
}

const { product } = Astro.props;
---

<div class="product">
  <div class="product-image">
    <ProductImage
      imagePath={product.image}
      altText={product.name}
      width={200}
      height={200}
      class=""
    />
  </div>
  <div class="product-info">
    <h3>{product.name}</h3>
    <p>{product.description}</p>
    <div class="product-price">${Number(product.price).toFixed(2)}</div>
    <a href={'/product/' + product.id} class="button" data-astro-prefetch>
      <button class="product-link-button">View Details</button>
    </a>
  </div>
</div>
